@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	touch-action: manipulation;
}

@layer base {
	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select {
		@apply
		w-full
		dark:bg-gray-600
		rounded-md
		border-gray-600
		dark:border-gray-400
	}

	[type='checkbox'],
	[type='radio'] {
		@apply
		dark:bg-gray-600
		rounded
		border-gray-600
		dark:border-gray-400

	}
}

@layer components {
	.btn {
		@apply

		uppercase
		tracking-wider
		font-medium
		text-gray-800
		px-4
		py-2

		border
		border-gray-500
		dark:border-gray-900
		rounded-md

		shadow-lg
		dark:shadow-dark-lg

		focus:outline-none
		focus:ring-4
		focus:ring
		focus:ring-blue-400

		active:shadow-none

		disabled:shadow-none
		disabled:border-gray-400
		disabled:text-gray-400
		disabled:bg-gray-300
		disabled:hover:bg-gray-300
		dark:disabled:border-gray-600
		dark:disabled:text-gray-600
		dark:disabled:bg-gray-500
		dark:disabled:hover:bg-gray-500;
	}
}